<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->
    <!-- Recommended --> <meta charset="utf-8"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/site.css' | url }}"/>
  </head>
  <body class="font-sans leading-normal tracking-normal text-gray-900  bg-slate-100">
    <main>
      <header class="my-24 p-6 bg-white container rounded-md border border-slate-300 shadow mx-auto">
        <h1 class=" text-center">
          <span class="text-4xl font-player2 uppercase tracking-wide font-bold text-black block mb-3">{{ metadata.title }}</span>
          <small class="mt-3 border-t border-slate-300 uppercase font-sans tracking-wide text-xl font-light inline-block">{{ metadata.description }}</small>
        </h1>
        <div class="my-8 grid lg:grid-cols-2 max-w-1/2 mx-auto gap-4">
          <div class="m-2 p-2 w-100">
            <h2 class="text-lg font-bold">What is this?</h2>
            <p>A directory of developer-related Threads accounts, submitted by their account owners.</p>
          </div>
          <div class="m-2 p-2 w-100">
            <h2 class="text-lg font-bold">How can I add myself?</h2>
            <p>Instructions can be found on
              <a href="https://github.com/mcleodchris/dev-threads#how-to-add-yourself-to-the-directory">
                <svg viewbox="0 0 24 24" aria-hidden="true" class="h-6 w-6 fill-slate-900 inline align-center">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48
                      0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606
                      1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084
                      2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979
                      1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336
                      1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566
                      4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22
                      6.463 17.522 2 12 2Z"></path>
                </svg>
                GitHub</a>
            </p>
          </div>
        </div>
      </header>
      {% include "pagination.njk" %}
      <section class="container mx-auto grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:grid-rows-10 gap-4">
        {{ content | safe }}
      </section>
      {% include "pagination.njk" %}
    </main>
    <footer>
      <div class="container mx-auto text-center">
        <p class="text-sm text-gray-600">This site is not affiliated with
          <a href="https://threads.net">Threads</a>
          in any way. The directory admin is not responsible for the contents of linked profiles</p>
        <p class="text-sm text-gray-600">Build: {{ process.env.BUILD_SHA }}: {{ process.env.BUILD_DATE }}</p>
      </div>
    </body>
  </body>
</html>